<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h1>Tan Chong How</h1>
      <p>Software Developer</p>
      <h2>Contact Details</h2>
      <h3>Phone</h3>
      <p>+60184679320</p>
      <h3>E-mail</h3>
      <p>+60184679320</p>
      <h3>Location</h3>
      <p>Butterworth, Pulau Pinang</p>

      <h2>Skill set</h2>
      <p>HTML,CSS,JS,Node.JS,Next.JS,React Native</p>

      <h2>Interests & Hobbies</h2>
      <p>Deep Thinking</p>
      <p>Spend time with family</p>
      <p>Gamming</p>

      <p>
        a citizen of malaysia who obsessed with latest technology. Always keep
        learnning and thinking what if could be simple and more productive. A
        member of Spotify, Youtube Music and Apple Music. self-reflection,
        problem solver and patience. The person i admire the most is Nikola
        Testla, favourite TV-series is called "Fresh of the Boat" and Jay Chou
        is one of my favorite singers..
      </p>
      <h2>Projects</h2>
      <h3>PTTI App</h3>
      <p>
        The most high budget project of the company, across web, mobile, CMS
        platform Front-End Team-lead Success to migrate a tuition center into
        virtual. No more specific time to attend a class. Make education or
        learning more easier and success make more A+ SPM student in Malaysia.
      </p>
      <h2>Work Experiences</h2>
      <h3>Lava X technologies Sdn Bhd</h3>
      <h4>Front End developer</h4>
      <p>
        Working since degree intern. From a web developer successfully transform
        to mobile developer Learning how to develop an app using agile software
        development
      </p>
      <h2>Education</h2>
      <p>Segi College Penang</p>
      <p>University of Greenwich</p>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
