<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo maiores
        unde quos fugiat rerum nam autem aperiam aliquam nihil veniam earum
        deserunt, dolorum ab ex consectetur perspiciatis alias esse laudantium.
      </p>
      <p>
        Sunt tempore quis autem ipsam nulla ipsa perspiciatis dolorum nemo
        cumque ea suscipit alias sit quod necessitatibus saepe quidem ipsum,
        delectus numquam doloremque fugiat rerum. Voluptates possimus aliquam
        tenetur dolore!
      </p>
      <p>
        Laborum dolores quam, nihil vitae fuga dolorem nemo optio cumque sunt
        dolor aspernatur explicabo unde quisquam atque illo voluptates iusto
        quaerat nisi. Praesentium laudantium esse eaque debitis iusto! Dolorum,
        nam.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
