<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <!-- Context Here -->

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
